/* page d'administration */

#mainConteneur {
	display: none;
}


#menuAdmin {
	position: absolute;
	width:300px;
	background-color:#E6E6FA;
}

.menuAdmin {
	font-size: large;
	margin-bottom: 15px;
}

#contentAdmin {
	position:relative;
	left:320px;
}

h1 {
	color:#2f892a;
	padding: 0px;
	border-bottom:1px dotted;
}

.adminTopic {
	display:none;
}

/* tableaux */

table {
	border-style:solid ;
	border-collapse: collapse;
    border-color: gray;
	border-width:thin;
}

th {
	background-color:#2f892a;
	color:#ffffff;
	font-weight:bold ;
	text-align:center ;
	min-width:100px ;
}