/* tonalité générale : bleu-vert  */

/* chargement de la police préférée d'AS */

@font-face {
	font-family: 'URW_Gothic' ; 
	src: url('../font/urw-gothic-l-book.ttf'); 
	src: local('x'),
         url('../font/urw-gothic-l-book.ttf') format('TrueType');
}

/* le body*/
body {
	background-color:#ffffff ;
	font-family: URW_Gothic, Open Sans, sans-serif; 
}

#mainConteneur {
	/*background-color:#E1E6FA ;*/
	background-color:#ffffff;
	max-width:1100px;
	padding:25px ;
	padding-bottom:20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.information {
	padding-top:15px ;
	padding-bottom:15px ;
	font-size:medium;
	text-align:justify;
}

.errormessage {
	padding-top:10px;
	padding-bottom:10px;
	color:#B9121B;
	font-weight:bold;
	display:none;
}

.infomessage {
	padding-top:10px;
	padding-bottom:10px;
	color:#556627;
	font-weight:bold;
	display:none;
}

h1 {
	color:#2f892a;
	padding-top:55px;
	border-bottom:1px dotted;
	font-size:xx-large;
}

h2 {
	color:#2D8203;
	margin-top:30px;
	margin-bottom:20px;
	border-bottom:1px dotted;
	font-size:x-large;
}

h3 {
	color:#25A32D;
	font-size:large;
	border-bottom:1px dotted;
	margin-top:60px;
	text-transform: uppercase;
}

h4 {
	color:#25A32D;
	font-size:normal;
}

.fchamp {
	padding: 5px;
	padding-left: 305px;
}

label.left{
	float: left;
	margin-left: -305px;
	font-weight:bold;
}

.fboutton {
	padding: 5px;
	padding-left: 305px;
}

input {
	width:300px;
}

.rightbutton {
	width:307px;
}

/*menu haut */


.admin {
	display:none ;
}


/*menu */

#mainMenu, #mainMenu nav /* Liste */    
{
	padding : 0; /* pas de marge intérieure */
	margin : 0; /* ni extérieure */
	list-style : none; /* on supprime le style par défaut de la liste */
	line-height : 25px;  /*on définit une hauteur pour chaque élément */
	text-align : center; /* on centre le texte qui se trouve dans la liste */
	background:#FFFFFF;
	color:#2B7A22;
}
 
#mainMenu /* Ensemble du menu */ {
	height:25px;
	position:absolute;
	top:0px ;
	right:0px ;
	color:#2B7A22;
	cursor:Pointer;
	margin-bottom:50px;
}

#mainMenu a /* Contenu des listes */
{
	display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
	padding : 0; /* aucune marge intérieure */
	text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
	width : 200px; /* largeur */
	color:#2B7A22;
}

#mainMenu a.menuItemGrise {
	color:#B0CC99;
}

#mainMenu a.menuItemGrise :hover{
	background-color:#375D81;
	color:#B0CC99;
}

#mainMenu a:hover /* Lorsque la souris passe sur un des liens */   
{
	background-color:#183152;
	color:#ffffff;
}

#mainMenu li /* Éléments des listes */     
{ 
	float : left; 
	/* pour IE qui ne reconnaît pas "transparent" */
	border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}
 
/* IE ne reconnaissant pas le sélecteur ">" */
html>body #mainMenu li
{
	border-right: 1px solid transparent ; /* on met une bordure transparente à droite de chaque élément */
}
 
#mainMenu li nav /* Sous-listes */
{ 
	position: absolute; /* Position absolue */
	width: 144px; /* Largeur des sous-listes */
	left: -999em; /* Hop, on envoie loin du champ de vision */
}

#mainMenu li:hover nav nav, #mainMenu nav.sfhover nav nav /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
	left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}
 
#mainMenu li:hover nav, #mainMenu nav nav:hover nav, #mainMenu li.sfhover nav, #mainMenu nav nav.sfhover nav  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
	left: auto; /* Repositionnement normal */
	min-height: 0; /* Corrige un bug sous IE */
}
 
#mainMenu li nav li /* Eléments de sous-listes */
{
	/* pour ie qui ne reconnaît pas "transparent" (comme précédemment) */
	border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous-liste */
}
 
/* IE ne reconnaissant pas le sélecteur ">" */
html>body #mainMenu li nav li                
{
	border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */
}
 
#mainMenu li nav nav 
{
	margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */
	/* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
	border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */     
}
 
/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body #mainMenu li nav nav                
{
	border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */
}


.choixSelectionne {
	padding-left: 5px;
	padding-right: 5px;
	background-color:#EFECCA;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-bottom-color:red;
}


/* champs à masquer ou montrer au début */

#nonauthentifie {
	display:block ;
}

#tentativeinscription {
	display:none ;
}

#authentifie {
	display:none;
	position:relative ;
}

.partie {
	display:none ;
}


/* les messages du mur */

.message {
	border-width:1px;
	border-color:#2f892a;
	border-style:dotted;
	margin-top:20px ;
	margin-bottom:20px ;
	background-color:#F2F2F2;
}

.message:hover{
	background-color:#E6E6E6;
}

.messageTete {
	padding:10px;
	font-weight:bold;
}

.messageCorps {
	padding:10px;
	font-weight:normal ;
	text-align:justify;
}


/* bas du site */

.bottom {
	padding:10px ;
	text-align:center ;
	font-size:small;
}

.link {
	color:#2f892a;
	text-decoration:underline;
	cursor:Pointer;
}

.link :hover {
	background-color: yellow;
	color:#B9121B;
	text-decoration:underline;
	cursor:Pointer;
}

/* formulaires */

fieldset {
	padding:10px;
	margin-bottom:10px ;
	margin-top:10px ;
}

/* informations */

.informationB {
	border:solid ;
	border-width:1px;
	padding:10px;
	font-size:large;
	text-align:justify;
	margin-top:15px;
	margin-bottom:15px;
}

.informationBtitre {
	color:#2f892a;
	font-weight:bold;
}

.informationRed {
	color:red ;
	font-weight:bold;
}

/* familles */

.famille {
	font-weight:bold;
	margin-top:15px;
}

.fjm {
	color:#663300 ;
}

.fr {
	color:red;
}

.fg {
	color:#000099 ;
}

.fm {
	color:#009900;
}

.fhenri {
	color:#FF6600 ;
}

.fhelene {
	color:#6600CC ;
}

.l1 {
	padding-left:50px;
}

.l2 {
	padding-left:75px;
}

/* pour la carte */
span.generation1 {
	text-decoration: underline
}
span.generation2{
	font-weight: 900 
}
span.generation3{}
span.generation4{
	font-style: italic
}
.boite {
	width:1200px ;
	margin-left: auto ;
	margin-right: auto ;
}

/* tableaux */

table {
	border-style:solid ;
	border-collapse: collapse;
    border-color: gray;
	border-width:thin;
}

th {
	background-color:#2f892a;
	color:#ffffff;
	font-weight:bold ;
	text-align:center ;
	min-width:100px ;
}

/* administration */

.adminTopic {
	display:none;
}

/* photos */

.album > table {
	border-style:none ;

}

#albumPhotographique {
	background-color:#000000 ;
	color:#ffffff;
	width:100%;
	display:none ;
	text-align:center;
}

#photographie {
	max-width:1200px;
	padding:25px ;
	padding-bottom:20px;
	margin-left: auto;
	margin-right: auto;	
}

#laPhoto {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#legendePhoto {
	font-size:large;
	padding-top:20px;
	padding-bottom:20px;
}

#photoPrec {
	cursor:Pointer;
}

#photoSuiv {
 	cursor:Pointer;
}

#photoAuteur {
	color:#FFFFFF;
}
/* #nomPhoto {
	width:200px;
	margin-left: auto;
	margin-right: auto;	
	top:0px;
	text-align:center;
	font-size:small;
} */

#nomPhoto {
	text-decoration:underline;
	color:#FF9900 ;
}

.infoPhoto {
	width:1000px;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	font-size:small;
}

.cliquable {
	cursor:Pointer ;
}

.tag {
	color:#7F7F7F;
}

.tagactive {
	color:#ffffff;
	font-weight:bold;
}

#commandesPhotos {
	display:none;
}

#closeAlbumBox{
	width:450px;
	margin-left: auto;
	margin-right: auto;	
	text-align:center;
	font-size:small;
}

/* uploader de photos */

.container {
    overflow:hidden;
    margin:20px auto;
}

.dropArea {
    background-color: #DDDDDD;
    border: 3px dashed #000000;
    font-size: 24px;
    font-weight: bold;
    height: 280px;
    margin: 20px;
    text-align: center;
	width:280px;
}
.hover {
    background-color: #CCCCCC;
	border: 3px dashed #000000;
    font-size: 24px;
    font-weight: bold;
    height: 280px;
    margin: 20px;
    text-align: center;
	width:280px;
}
.uploading {
    background-color: #EEEEEE;
	border: 3px dashed #000000;
    font-size: 24px;
    font-weight: bold;
    height: 280px;
    margin: 20px;
    text-align: center;
	width:280px;
}

/* commentaires */

#commentaires {
	width:1000px ;
	margin-left:auto ;
	margin-right:auto;
	padding-top:20px ;
	padding-bottom:20px ;
}

#commentairesChargementEnCours {
	font:small;
	text-align:center ;
}

#commentairesPhotos {
	text-align:left;
	font:small ;
}

.unCommentaire {
	padding-top:10px ;
	margin-top:10px ;
	/* border-style:dotted ;
	border-width: 1px; */
	text-align:left;
	font:small;
}

.unCommentaire > a {
	color:#FFFFFF;
}


.commentairesAccroches {
	font-weight:bold;
	text-align:left;
}


/* généalogie */

#arbre_genealogique {
	width:1100px;
}